{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tareas</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" media="screen and (max-width: 1847px)" href="">   
</head>
<body>
    <div class ="logo">
        <a href ="#"><img src =""></a>
    </div>
    <nav>
        <ul>
            <h1 style="text-align: center;">Bienvenido</h1>
         </ul>
    </nav>
    <section>
        <div  id="titulo"><h2>Iniciar sesión</h2></div>
            <div class="tasignadas">
                    <form method="post" action="." >
                        {% csrf_token %}
                    <p>
                    <label for="id_username">Nombre usuario</label>
                        {{ form.username }}
                    </p>
                    <p>
                        <label for="id_password">Contraseña</label>
                        {{ form.password }}
                    </p>
                    <button class="submit" type="submit" name="submit">Inicias sesion</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                {% if form.errors %}
                <div class="alert alert-error">
                    <h4>Please fix the following errors</h4>
                    <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    </ul>
                    {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                    {% endif %}
                </div>
                {% endif %}
            </div>
    </section>
</body>
<footer>
    <div class="footer-social-icons">
        <ul>
            <li><a href="#" target="blank"><img id="fa" src=""></a></li>
            <li><a href="#" target="blank"><img id="fa" src=""></a></li>
            <li><a href="#" target="blank"><img id="fa" src=""></a></li>
            <li><a href="#" target="blank"><img id="fa" src=""></a></li>
        </ul>
    </div>
    <div class="footer-main-div">
        <div class="footer-menu-one">
            <ul>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">empresas</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </div>

        <div class="footer-menu-two">
            <ul>
                <li><a href="#">blogs</a></li>
                <li><a href="#">actualizaciones</a></li>
                <li><a href="#">clientes</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Diseñador por: joalni.company/duoc</p>
    </div>
</footer>
</html>